/*=====rewrite css=====*/
.main{
	width:675px;
	padding:10px 0;
}
/*=====css for create-topic=====*/
.create-topic{
	height:30px;
	border-bottom:1px solid #E1E1E1;
	padding:0 10px 10px 10px;
}
.create-topic-left{
	float:left;
}
.create-topic-left{
	line-height:30px;
	color:#202020;
	font-size:14px;
}
.create-topic-right{
	float:right;
	position:relative;
}
.create-topic-btn{
	font-size:13px;
	display:block;
	height:25px;
	line-height:25px;
	background-color:#F5F5F5;
	border:1px solid #B9B9B9;
	border-radius:3px;
	padding:0 10px;
	color:#666666;
}
.create-topic-btn:hover{
	background-color:#EFEFEF;
}
.no-topic{
	height:35px;
	line-height:35px;
	border-radius:5px;
	background-color:#fcf8e3;
	margin:10px 20px;
	padding-left:20px;
	font-size:13px;
	color:#c09853;
	border:1px solid #fbeed5;
}